body{
    background-color: lightslategray;
}
h1{
    text-align: center;
    color: white;
    font-size: 50px;
}

div{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 15px;
    border: 1px solid;
    padding: 20px;
    width: 15%;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 1px white;
}

a{
    border: 1px solid;
    box-shadow: 0px 1px 10px black;
    padding: 10px;
    text-decoration: none;
    color: white;
    border-color: #1d1d1d;
    border-radius: 4px;
    transition: all 0.4s ease;
}

a:hover{
    background-color: white;
    color: black;
}
